<link rel="stylesheet" href="./static/views/view-styles/gadget-info.css">

<div id="gadget-info-signature" class="ui-screen">
    <div id="gadget-bar">
        <div class="gadget" id="cash"></div>
        <div class="gadget" id="poison"></div>
        <div class="gadget" id="wave"></div>
        <div class="gadget" id="goo"></div>
        <div class="gadget" id="divine"></div>
        <div class="gadget" id="meteor"></div>
        <div class="gadget" id="rage"></div>
        <div class="gadget" id="blackhole"></div>
    </div>

    <div id="character-carousel">
        <button id="previous">&#10094;</button>
        <div class="character">
            </div>
        <button id="next">&#10095;</button>
    </div>

    <div>
        <button id="btnBack">Back</button>
    </div>
</div>