<link rel="stylesheet" href="./static/views/view-styles/gadget-info.css">

<div id="gadget-info-offensive" class="ui-screen">
    <div id="gadget-bar">
        <div class="gadget" id="nuke"></div>
        <div class="gadget" id="firebomb"></div>
        <div class="gadget" id="snipe"></div>
        <div class="gadget" id="freeze"></div>
    </div>

    <div id="character-carousel">
        <button id="previous">&#10094;</button>
        <div class="character">
            </div>
        <button id="next">&#10095;</button>
    </div>

    <div>
        <button id="btnBack">Back</button>
    </div>
</div>