<link rel="stylesheet" href="./static/views/view-styles/game-over.css">

<canvas id="bgCanvas"></canvas>

<div id="game-over" class="ui-screen">   
    <div>
        <h1 id="game-over-title">P WINS!!!</h1>
        <div id="game-over-stats-wrapper">
            <div id="game-time">Game Time: 00:00</div>
            <div class="stats-column" id="p1-stats">

            </div>
            <div class="stats-column" id="p2-stats">

            </div>
        </div>
        <button id="btnMainMenu">Main Menu</button>
    </div>
</div>