<link rel="stylesheet" href="./static/views/view-styles/game.css">
<canvas id="gameCanvas"></canvas>

<div id="game" class="ui-screen">
    <div id="game-hud">
        <div id="hud-top">
            <div class="money">$ <span id="money">0</span></div>
            <div class="income">+ $<span id="income">0</span>/SEC</div>
        </div>

        <div id="hud-bottom">
            <div class="shop-section" id="upgrades">
                <button class="upgrade-btn" id="btnInvest">
                    <div>INVEST: $<span id="investment-price">0</span></div>
                </button>
                <button class="upgrade-btn" id="btnRepair">
                    <div>+HP: $<span id="repair-price">0</span></div>
                </button>
            </div>

            <div id="character-bar">
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
                <div class="character-icon-wrapper"><span class="price"></span><div class="character"></div></div>
            </div>

            <div class="shop-section" id="gadgets">
                <button class="btnGadget" id="btnGadgetOffense"></button>
                <button class="btnGadget" id="btnGadgetDefence"></button>
                <button class="btnGadget" id="btnGadgetSignature"></button>
            </div>
        </div>
    </div>
</div>