<link rel="stylesheet" href="./static/views/view-styles/select-loadout.css">

<div id="select-loadout" class="ui-screen">
    <h1>SELECT YOUR LOADOUT:</h1>
    <div id="gadget-container">
        <div>
            <h2>SIGNATURE GADGET:</h2>
            <div class="gadget selected" id="signature-gadget"></div>
        </div>
        <div class="f-2">
            <div>
                <h2>OFFENSIVE GADGET:</h2>
                <div id="offensive-gadget-bar">
                    <div><div class="gadget offense" id="nuke"></div></div>
                    <div><div class="gadget offense" id="firebomb"></div></div>
                    <div><div class="gadget offense" id="snipe"></div></div>
                    <div><div class="gadget offense" id="freeze"></div></div>
                </div>
            </div>
            <div>
                <h2>TACTICAL GADGET:</h2>
                <div id="defensive-gadget-bar">
                    <div><div class="gadget defense" id="heal"></div></div>
                    <div><div class="gadget defense" id="reinforcements"></div></div>
                    <div><div class="gadget defense" id="speed"></div></div>
                    <div><div class="gadget defense" id="wall"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button id="btnBack">Back</button>
        <button id="btnCreate">Create Lobby</button>
        <button id="btnJoin">Join Game</button>
    </div>
</div>