<link rel="stylesheet" href="./static/views/view-styles/select-team.css">

<div id="select-team" class="ui-screen">
    <h1>SELECT YOUR TEAM:</h1>
    <div id="team-bar">
        <div class="team" id="white"  style="background-color: white"></div>
        <div class="team" id="purple" style="background-color: purple"></div>
        <div class="team" id="blue"   style="background-color: blue"  ></div>
        <div class="team" id="green"  style="background-color: green" ></div>
        <div class="team" id="yellow" style="background-color: yellow"></div>
        <div class="team" id="orange" style="background-color: orange"></div>
        <div class="team" id="red"    style="background-color: red"   ></div>
        <div class="team" id="black"  style="background-color: black" ></div>
    </div>
    <h2 id="team-name">WHITE TEAM:</h2>
    <div id="character-bar">
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
    </div>

    <div>
        <button id="btnBack">Back</button>
        <button id="btnSelect">Select Team</button>
    </div>
</div>