<link rel="stylesheet" href="./static/views/view-styles/unit-info.css">

<div id="unit-info" class="ui-screen">
    <div id="team-bar">
        <div class="team" id="white"  style="background-color: white"></div>
        <div class="team" id="purple" style="background-color: purple"></div>
        <div class="team" id="blue"   style="background-color: blue"  ></div>
        <div class="team" id="green"  style="background-color: green" ></div>
        <div class="team" id="yellow" style="background-color: yellow"></div>
        <div class="team" id="orange" style="background-color: orange"></div>
        <div class="team" id="red"    style="background-color: red"   ></div>
        <div class="team" id="black"  style="background-color: black" ></div>
    </div>

    <div id="character-carousel">
        <button id="previous">&#10094;</button>
        <div class="character">

        </div>
        <button id="next">&#10095;</button>
    </div>

    <div>
        <button id="btnBack">Back</button>
    </div>
</div>