button {
    font-size: 11px;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}

#sp-select-team {
    padding-top: 5vh;
    color: black;
}
#mp-select-team {
    padding-top: 5vh;
    color: black;
}

#team-select {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

.team {
    height: 15vh; width: 15vh;
    border: 2vh solid black;
}
.selected {
    border: 2vh solid lightgreen;
}

#character-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    padding-top: 0;
}
.character {
    height: 15vh; width: 15vh;
    border: 2vh solid black;
    background-color: lightgray;
}
.character img {   
    height: 100%; width: 100%;

    /* 1. Prevent Distortion */
    object-fit: contain;
    
    /* 2. Pixel Art Scaling */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}